<div class="myachievments">
<h2 class="myachievments">My Achievments:</h2>
<br>
<p>When i started taking online courses iknew that i would love programming<br>
and that's what happened,programming is awesome and i would recommend anyone i talk to. <br></p>
<p>the Languages that i learned in my courses are:</p>
<table>
    <ul>
        <li>HTML</li>
        <li>Css</li>
        <li>Bootstrap</li>
        <li>Javascript</li>
        <li>Angular</li>
        <li>Nodejs</li>
        <li>RESTful API</li>
        <li>Github/heroku</li>
        <li>typescript</li>
    </ul>
</table>
<p>If you're interested on how much i'm good in these languages <br>
jump to <b>"Rating tab"</b></p>
</div>